<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4><strong>Contact Us</strong></h4>
        <p><strong>Email:samihatasmin01@gmail.com</strong></p>
        <p><strong>Phone:+880-08866544</strong></p>
      </div>
      <div class="footer-col">
        <h4><strong>Quick links</strong></h4>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="recipes.html">Recipes</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4><strong>Follow Us</strong></h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p><b>&copy;2024 Delicious Recipies.All rights reserved.</b></p>
  </div>
</footer>
