<header>
  <nav class="navbar fixed-top navbar-expand-sm bg-warning navbar-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand mb-0 h3">
        <img
          class="d-inline-block align-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSehUBO1tB3DRDUNSdf6cYAGSkNAD8Ki4SvSA&s"
          alt="logo"
          height="50px"
          width="100px"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar02"
        aria-controls="navbar02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end align-center"
        id="navbar02"
      >
        <form class="d-flex" method="POST" role="search" action="/search">
          <input
            class="form-control me-2"
            id="searchInput"
            name="searchTerm"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success bg-warning" type="submit">
            Search
          </button>
        </form>
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item">
            <a class="nav-link text-dark active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
